<div class = 'jumbotron'>

<h1> Welcome to onlinecart Website </h1>
<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
<%= link_to 'Items', items_path, class: 'btn btn-primary btn-lg' %>

</div>

